.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.colorPicker {
  margin: 1rem;
  padding: 0;
  width: 3.125em;
  height: 3.125em;
  outline: none;
  border: none;
  cursor: pointer;
}

.triangle-left {
  width: 0;
  height: 0;
  border-right: 5em solid transparent;
  border-top: 3.438em solid transparent;
  border-left: 5em solid #000000;
  border-bottom: 3.438em solid #000000;
  position: relative;
}


.triangle-left:after {
  content: '';
  width: 0;
  height: 0;
  border-right: 4.688em solid transparent;
  border-top: 3.125em solid transparent;
  border-left: 4.688em solid;
  border-bottom: 3.125em solid;
  border-left-color: var(--customColor, #000000);
  border-bottom-color: var(--customColor, #000000);
  position: absolute;
  left: -4.844em;
  top: -2.969em;
}

.triangletopleft {
  width: 0;
  height: 0;
  border-right: 3.125em solid #000000;
  border-top: 4.688em solid transparent;
  border-left: 3.125em solid transparent;
  border-bottom: 4.688em solid #000000;
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
}

.triangletopleft:hover {
  transform: scale(1.1);
}

.triangletopleft::after {
  content: '';
  width: 0;
  height: 0;
  border-right: 2.938em solid;
  border-top: 4.5em solid transparent;
  border-left: 2.938em solid transparent;
  border-bottom: 4.375em solid;
  border-right-color: var(--customColor, #fff);
  border-bottom-color: var(--customColor, #fff);
  position: absolute;
  top: -4.313em;
  left: -2.875em;
}

.trianglebottomleft {
  width: 0;
  height: 0;
  border-right: 3.125em solid #000000;
  border-top: 4.688em solid #000000;
  border-left: 3.125em solid transparent;
  border-bottom: 4.688em solid transparent;
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
}

.trianglebottomleft:hover {
  transform: scale(1.1);
}

.trianglebottomleft::after {
  content: '';
  width: 0;
  height: 0;
  border-right: 2.938em solid;
  border-top: 4.5em solid;
  border-left: 2.938em solid transparent;
  border-bottom: 4.375em solid transparent;
  border-right-color: var(--customColor, #fff);
  border-top-color: var(--customColor, #fff);
  position: absolute;
  top: -4.625em;
  left: -2.875em;
}

.trianglebottomright {
  width: 0;
  height: 0;
  border-right: 3.125em solid transparent;
  border-top: 4.688em solid #000000;
  border-left: 3.125em solid #000000;
  border-bottom: 4.688em solid transparent;
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
}

.trianglebottomright:hover {
  transform: scale(1.1);
}

.trianglebottomright::after {
  content: '';
  width: 0;
  height: 0;
  border-right: 2.938em solid transparent;
  border-top: 4.5em solid;
  border-left: 2.938em solid;
  border-bottom: 4.375em solid transparent;
  border-left-color: var(--customColor, #fff);
  border-top-color: var(--customColor, #fff);
  position: absolute;
  top: -4.625em;
  left: -3em;
}

.triangletopright {
  width: 0;
  height: 0;
  border-right: 3.125em solid transparent;
  border-top: 4.688em solid transparent;
  border-left: 3.125em solid #000000;
  border-bottom: 4.688em solid #000000;
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
}

.triangletopright:hover {
  transform: scale(1.1);
}

.triangletopright::after {
  content: '';
  width: 0;
  height: 0;
  border-right: 2.938em solid transparent;
  border-top: 4.5em solid transparent;
  border-left: 2.938em solid;
  border-bottom: 4.375em solid;
  border-left-color: var(--customColor, #fff);
  border-bottom-color: var(--customColor, #fff);
  position: absolute;
  top: -4.313em;
  left: -3em;
}

.rectangle {
  height: 9.375em;
  width: 6.25em;
  background: var(--customColor, #fff);
  ;
  border: 0.125em solid black;
  cursor: pointer;
  transition: all 200ms linear;
}

.rectangle:hover {
  transform: scale(1.1);
}

.colorSwatchContainer {
  display: flex;
  justify-content: center;
}

.colorSwatch {
  margin: 0.5rem;
  padding: 0;
  width: 1.563em;
  height: 1.563em;
  outline: none;
  border: none;
  cursor: pointer;
}

.colorContainer {
  justify-items: center;
  display: grid;
  margin: 0.25em
}

.contenedor {
  display: flex;
  position: relative;

}

.trapezoidBottomLeft {
  width: 6.25em;
  /* base mayor arriba */
  height: 0;
  border-top: 9.375em solid #000000;
  /* color del trapecio */
  border-right: 0px solid transparent;
  /* ángulo recto superior derecho */
  border-left: 3.075em solid transparent;
  /* inclinación izquierda */
  border-bottom: 0px solid transparent;
  /* ángulo recto inferior derecho */
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
}

.trapezoidBottomLeft:hover {
  transform: scale(1.1);
}

.trapezoidBottomLeft::after {
  content: '';
  width: 2.8em;
  /* base mayor arriba */
  height: 0;
  border-top: 9em solid;
  /* color del trapecio */
  border-right: 0px solid transparent;
  /* ángulo recto superior derecho */
  border-left: 2.8em solid transparent;
  /* inclinación izquierda */
  border-bottom: 0px solid transparent;
  /* ángulo recto inferior derecho */
  border-top-color: var(--customColor, #fff);
  position: absolute;
  top: -9.26em;
  left: -2.6em;
}

.trapezoidTriangleBottomLeft {
  width: 0;
  height: 0;
  border-right: 1.563em solid #000000;
  border-top: 4.688em solid #000000;
  border-left: 1.563em solid transparent;
  border-bottom: 4.688em solid transparent;
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
  justify-self: flex-end;
}

.trapezoidTriangleBottomLeft:hover {
  transform: scale(1.1);
}

.trapezoidTriangleBottomLeft::after {
  content: '';
  width: 0;
  height: 0;
  border-right: 1.4em solid;
  border-top: 4.375em solid;
  border-left: 1.4em solid transparent;
  border-bottom: 4.375em solid transparent;
  border-right-color: var(--customColor, #fff);
  border-top-color: var(--customColor, #fff);
  position: absolute;
  top: -4.625em;
  left: -1.3em;
}

.trapezoidBottomRight {
  width: 6.25em;
  height: 0;
  border-top: 9.375em solid #000000;      /* altura y color del trapecio */
  border-left: 0px solid transparent;     /* ángulo recto superior izquierdo */
  border-right: 3.075em solid transparent;/* inclinación derecha */
  border-bottom: 0px solid transparent;
  position: relative;
  cursor: pointer;
  transition: all 200ms linear;
}

.trapezoidBottomRight:hover {
  transform: scale(1.1);
}

.trapezoidBottomRight::after {
  content: '';
  width: 2.8em;
  height: 0;
  border-top: 9em solid;
  border-left: 0px solid transparent;
  border-right: 2.8em solid transparent;
  border-bottom: 0px solid transparent;
  border-top-color: var(--customColor, #fff);
  position: absolute;
  top: -9.26em;
  left: 0.2em;
}

/* Triángulo para esquina inferior derecha */
.trapezoidTriangleBottomRight {
  width: 0;
  height: 0;
  border-left: 1.563em solid #000000;         /* lado izquierdo del triángulo */
  border-top: 4.688em solid #000000;          /* base superior */
  border-right: 1.563em solid transparent;    /* lado derecho transparente */
  border-bottom: 4.688em solid transparent;   /* base inferior transparente */
  position: relative;
  right: 0;                                  /* ubica el triángulo en el borde derecho */
  cursor: pointer;
  transition: all 200ms linear;
}

.trapezoidTriangleBottomRight:hover {
  transform: scale(1.1);
}

.trapezoidTriangleBottomRight::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 1.4em solid;
  border-top: 4.375em solid;
  border-right: 1.4em solid transparent;
  border-bottom: 4.375em solid transparent;
  border-left-color: var(--customColor, #fff);
  border-top-color: var(--customColor, #fff);
  position: absolute;
  top: -4.625em;
  right: -1.3em;
}